@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Vika Bilhall</h1>
    <p>Det här är en projektwebbplats skapad av Anders Sundin för kursen DT191G - Webbutveckling med .NET <br> vilken ges av Mittuniversitetet och ingår i webbutvecklingsprogrammet.</p>
    <p>Logga in för att börja hantera bilar.</p>
</div>
